* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: black;
    font-family: "heebo", sans-serif;
    font-style: normal;
}

/* CSS DA TELA INICIAL */

#nav_principal {
    display: flex;
}

#logo_img {
    display: flex;
    justify-content: flex-start;
    width: 100px;
    height: 100px;

}


#pesquisa_box[type="text"] {
    width: 300px;
    height: 45px;
    padding: 12px 50px 12px 40px; 
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 35px;
    outline: none;
    box-shadow: none;
    margin-top: 25px;
    background-color: rgba(35, 34, 34, 0.5);

    background-image: url('../foto/lupa.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 20px;
}





#div_avaliar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 35px;
    margin-right: 20px;
}

#botao_avaliar {
    padding: 5px 18px;
    border-radius: 35px;
    font-weight: bolder;
    margin-top: 200px;

    text-decoration: none;
    background-color: #fbfcfc;
    color: rgb(5, 5, 5);           
    border: none;
    cursor: pointer;
    

}




.divs_principais {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    margin: 20px;
    height: 100%;
}
    
.div1 {
    grid-row: span 5 / span 5;
    border-radius: 15px;
    background: linear-gradient(to bottom, #728FA5, #033463);
    
    height: 800px;
    width: 400px;
}

.div2 {
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
    background: linear-gradient(to bottom, #728FA5, #033463);
    border-radius: 15px;
    display: flex;
    justify-content: center;
}


#button_logout {
    color: white;
    text-align: center;
    padding: 13px 40px;
    background: #003262;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
}













/* CSS DA PAGINA UPLOAD */


#div_voltar {
    width: 35px;
    height: 35px;
}
#botao-voltar {
    width: 35px;
    height: 35px;
    margin: 10px;
    background-image: url('../foto/back.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
}


#container_geral {
    background: linear-gradient(to bottom, #728FA5, #033463);
    height: 100vh;
}

#formulario_avaliacao {
    margin-top: 100px;
}

.titulo1 {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 40px;
}


.linha {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    gap: 40px;
    flex-wrap: wrap;   
}

.div_inputs {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.coluna_infor {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


input[type="text"] {
    padding: 10px 25px 10px 25px;
    font-size: 16px;
    width: 425px;
    outline: none; 
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: #F0F8FF33;
    color: #FFFFFF;  
    resize: vertical;  
}

#input_comentario {
    width: 425px;
    min-height: 150px;
    padding: 15px 25px;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #F0F8FF33;
    box-sizing: border-box;
    resize: vertical; /* permite só redimensionar verticalmente */
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap; /* mantém as quebras de linha do texto */
    outline: none;
    font-family: "heebo", sans-serif;
}


.coluna_infor input::placeholder,
.coluna_infor textarea::placeholder {
    color: #F0F8FF99;

}



.nomes {
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 15px;
    margin-left: 25px;
}




.file-upload {
    width: 400px;
    height: 400px;
    background: #F0F8FF66;
    border: 2px dashed #ccc;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.custom-file-label {
    background: #003262;
    color: #fff;
    padding: 12px 24px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 15px;
    transition: background-color 0.3s;
}

.custom-file-label:hover {
    background: #00326299;
}

#file-name {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    word-break: break-word;
}








#buttonsalvar {
    display: flex;
    justify-content: center;  
}


#Enviar {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bolder;
    background-color: #003262;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    display: flex;
}


.mensagens_cadastro p {
    display: flex;
    justify-content: center;
    color: #fcfafa;
    padding: 10px;
    margin-top: 5px;
    font-weight: bolder;
}


@media (max-width: 600px) {
    .linha {
        flex-direction: column;
    }

    .coluna_infor,
    .coluna_imagm {
        margin-right: 0;
    }

    #salvar {
        width: 100%;
    }
}














/* CSS DO READ */

.body_estilo {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #728FA5, #033463);
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.reviews-container {
    width: 800px;
    height: 500px;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;  


}

#titulo_reviews {
    background-color: #003262;
    border-radius: 10px 10px 0px 0px;
    height: 65px;
    font-size: 15px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.reviews-wrapper {
    overflow-y: auto;
    width: 100%;
    scrollbar-width: thin;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.coluna_reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    padding: 10px;
}

.review {
    background-color: #B6C5D4;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    width: 370px;
}


.review-left {
    flex-shrink: 0;
    width: 100px;
  }

.review-left img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.review-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.review-right h3 {
    margin: 0 0 5px;
    color: #F0F8FF;
}

.review-right p {
    margin: 0;
    color: #F0F8FF;
    font-weight: bolder;
    font-size: 15px;
    word-wrap: break-word;  
    overflow-wrap: break-word; 
    white-space: normal; 
    max-width: 250px;
}


.buttons {
    position: sticky;
    bottom: 0;
    padding: 10px;
    gap: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.delete {
    padding: 9px;
    text-align: center;
    border-radius: 50px;
    background-color: #003262;
    color: white;
    text-decoration: none;
}

.update {
    padding: 9px;
    text-align: center;
    border-radius: 50px;
    background-color: #003262;
    color: white;
    text-decoration: none;

}

.delete-success {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 20px;
}











/* CSS DO UPDATE */

#update_enviar {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bolder;
    background-color: #003262;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    display: flex;
}