* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: black; */
    font-family: "heebo", sans-serif;
    font-style: normal;
}


/* CSS DA TELA INICIAL DEPOIS DE LOGIN */
.tela_inicial {
    background-color: black;
}

#nav_principal {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#logo_img {
    display: flex;
    justify-content: flex-start;
    width: 75px;
    height: 75px;
    margin-left: 20px;
}

#pesquisa_box[type="text"] {
    width: 300px;
    height: 45px;
    padding: 12px 50px 12px 40px; 
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 35px;
    outline: none;
    margin-top: 15px;
    background-color: rgba(35, 34, 34, 0.5);
    background-image: url('../foto/lupa.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 20px;
}

#div_avaliar {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    margin-top: 5px;
    margin-right: 20px;
}

#botao_avaliar {
    padding: 5px 18px;
    border-radius: 35px;
    font-weight: bolder;
    margin-top: 200px;
    text-decoration: none;
    background-color: #fbfcfc;
    color: rgb(5, 5, 5);           
    border: none;
    cursor: pointer;
}

.divs_principais {
    display: flex;
    height: 100vh;
    margin: 0px 20px;
    gap: 20px;
}

.div1 {
    width: 220px;
    border-radius: 15px;
    background: linear-gradient(to bottom, #728FA5, #033463);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.grupo-cima,
.grupo-baixo {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.div2 {
    flex: 1;
    background: linear-gradient(to bottom, #728FA5, #033463);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#button_logout, .botao_menu {
    color: white;
    text-align: center;
    padding: 13px 20px;
    background-color: rgba(255, 255, 255, 0.); /* fundo branco bem transparente */

    text-decoration: none;
    border-radius: 15px;
    font-size: 16px;
    border: 0.1px solid #ffffff30;
}


#button_logout:hover, .botao_menu:hover {
    background-color: rgba(255, 255, 255, 0.2); /* fundo branco bem transparente */
}

 .botao_menu, #button_logout {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 13px 20px;
    background-color: rgba(255, 255, 255, 0.05);
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    border: 0.1px solid #ffffff30;
    transition: background 0.3s;
}



.icone_botao {
    width: 15px;
    height: 15px;
    object-fit: contain;
}





.separador {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    margin: 20px 0;
}

.separador::before,
.separador::after {
    width: 30px; 
    content: "";
    border-top: 1px solid #ffffff;
    margin: 0 10px;
}

.separador span {
    font-size: 17px;
}







/* CSS DA PAGINA UPLOAD E UPDATE*/


#div_voltar {
    width: 35px;
    height: 35px;
}
#botao-voltar {
    width: 35px;
    height: 35px;
    margin: 10px;
    background-image: url('../foto/back.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
}


#container_geral {
    background: linear-gradient(to bottom, #728FA5, #033463);
    height: 100vh;
}

#formulario_avaliacao {
    margin-top: 100px;
}

.titulo1 {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 40px;
}

#botao_read_centralizado {
    display: flex;
    justify-content: flex-end;
    margin-right: 525px;
    margin-bottom: 20px;

}
.botao_read {
    font-weight: bolder;
    display: inline-block;
    background-color: #003262;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: flex-end;
}

.linha {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    gap: 40px;
    flex-wrap: wrap;   
}

.div_inputs {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.coluna_infor {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


input[type="text"] {
    padding: 10px 25px 10px 25px;
    font-size: 16px;
    width: 425px;
    outline: none; 
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: #F0F8FF33;
    color: #FFFFFF;  
    resize: vertical;  
}

#input_comentario {
    width: 425px;
    min-height: 150px;
    padding: 15px 25px;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #F0F8FF33;
    box-sizing: border-box;
    resize: vertical; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap; 
    outline: none;
    font-family: "heebo", sans-serif;
}


.coluna_infor input::placeholder,
.coluna_infor textarea::placeholder {
    color: #F0F8FF99;

}



.nomes {
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 15px;
    margin-left: 25px;
}



.file-upload {
    width: 400px;
    height: 400px;
    background: #F0F8FF66;
    border: 2px dashed #ccc;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.custom-file-label {
    background: #003262;
    color: #fff;
    padding: 12px 24px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 15px;
    transition: background-color 0.3s;
}

.custom-file-label:hover {
    background: #00326299;
}

#file-name {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    word-break: break-word;
}



#buttonsalvar {
    display: flex;
    justify-content: center;  
}


#Enviar {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bolder;
    background-color: #003262;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    display: flex;
}


.mensagens_cadastro p {
    display: flex;
    justify-content: center;
    color: #fcfafa;
    padding: 10px;
    margin-top: 5px;
    font-weight: bolder;
}


@media (max-width: 600px) {
    .linha {
        flex-direction: column;
    }

    .coluna_infor,
    .coluna_imagm {
        margin-right: 0;
    }

    #salvar {
        width: 100%;
    }
}










/* CSS DO READ */

.body_estilo {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #728FA5, #033463);
    text-align: center;
    height: 100vh;
}

.container_geral {
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.review-right p {
    margin: 0;
    color: #F0F8FF;
    font-weight: bolder;
    font-size: 15px;
    max-width: 250px;
    overflow-wrap: anywhere;
    word-break: break-word;
    white-space: normal;
}


.reviews-container {
    width: 100vh;
    height: 700px;
    margin-top: 50px;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;  


}

#titulo_reviews {
    background-color: #003262;
    border-radius: 10px 10px 0px 0px;
    height: 65px;
    font-size: 15px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.reviews-wrapper {
    overflow-y: auto;
    width: 100%;
    scrollbar-width: thin;
    margin-bottom: 10px;

}

.coluna_reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    padding: 10px;
}

.review {
    background-color: #B6C5D4;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}


.review-left {
    flex-shrink: 0;
    width: 100px;
  }

.review-left img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.review-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.review-right h3 {
    margin: 0 0 5px;
    color: #F0F8FF;
}

.review-right p {
    margin: 0;
    color: #F0F8FF;
    font-weight: bolder;
    font-size: 15px;
    word-wrap: break-word;  
    overflow-wrap: break-word; 
    white-space: normal; 
    max-width: 250px;
}


.buttons {
    position: sticky;
    bottom: 0;
    padding: 10px;
    gap: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.delete {
    padding: 9px;
    text-align: center;
    border-radius: 50px;
    background-color: #003262;
    color: white;
    text-decoration: none;
}

.update {
    padding: 9px;
    text-align: center;
    border-radius: 50px;
    background-color: #003262;
    color: white;
    text-decoration: none;

}

.delete-success {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 20px;
}










/* CSS DO UPDATE */

#update_enviar {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bolder;
    background-color: #003262;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    display: flex;
}




.erro_naologado {
    width: 100vw;
    height: 100vh;
    background-color: #003262;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.erro_naologado a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #003262;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.erro_naologado a:hover {
    background-color: #e6e6e6;
}





/* CSS DO ERRO "VOCÊ NÂO PODE ACESSAR ESSA PAGINA" */

.erro_naologado {
    width: 100vw;
    height: 100vh;
    background-color: #003262;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.erro_naologado a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #003262;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.erro_naologado a:hover {
    background-color: #e6e6e6;
}





/* CSS DO PERFIL DO USUÁRIO */

.container_dados_user {
    background: linear-gradient(to bottom, #4a7ca5, #0d2c4b);

    font-family: Arial, sans-serif;
}

.container_perfil {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.cartao {
    background-color: #0d2c4b;
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.icone img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info h2 {
    margin: 0;
    font-size: 20px;
}

.info p {
    margin: 0;
    font-size: 14px;
    color: #cfd8dc;
}

.botoes {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.botao {
    padding: 10px 24px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;

}

.atualizar {
    background-color: #007bff;
}

.deletar {
    background-color: #dc3545;
}



/* UPDATE CSS */

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

form h2 {
    margin-bottom: 20px;
}

form label {
    color: white;
    font-weight: bold;
}
